# Environment variables
.env

# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite3

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Trading specific
backtest_results.csv

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# AWS credentials
aws_config.py